/* Open Sans */
@font-face {
  font-family: 'Open Sans Regular';
  src: local('Open Sans Regular'),
  url(../../fonts/open-sans/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: local('Open Sans Bold'),
  url(../../fonts/open-sans/OpenSans-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans ExtraBold';
  src: local('Open Sans ExtraBold'),
  url(../../fonts/open-sans/OpenSans-ExtraBold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Light';
  src: local('Open Sans Light'),
  url(../../fonts/open-sans/OpenSans-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: local('Open Sans Semibold'),
  url(../../fonts/open-sans/OpenSans-SemiBold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: local('Open Sans Italic'),
  url(../../fonts/open-sans/OpenSans-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat Regular';
  src: local('Montserrat Regular'),
  url(../../fonts/montserrat/Montserrat-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: local('Montserrat Bold'),
  url(../../fonts/montserrat/Montserrat-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat ExtraBold';
  src: local('Montserrat ExtraBold'),
  url(../../fonts/montserrat/Montserrat-ExtraBold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Light';
  src: local('Montserrat Light'),
  url(../../fonts/montserrat/Montserrat-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: local('Montserrat Semibold'),
  url(../../fonts/montserrat/Montserrat-SemiBold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Italic';
  src: local('Montserrat Italic'),
  url(../../fonts/montserrat/Montserrat-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
